.wrapper {
   margin: 5rem auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.contacts__title {
   font-size: 3rem;
   font-weight: 700;
}

.contacts__content {
   font-size: 2rem;
   font-weight: 500;
}