.container {
	height: 100%;
}

.game-name {
	padding: 5rem auto;
	font-size: 10rem;
	text-align: center;
	color: blue;
}

.the-game {
	font-size: 10rem;
	text-align: center;
	color: blue;
}


@media (prefers-reduced-motion: no-preference) {
	.game-name {
		animation: game-name 4s;
	}

	.the-game {
		animation: the-game 4.5s;
	}
}

@keyframes game-name {
	0% {
		transform: scale(0.0, 0.0);
		color: white;
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes the-game {
	0% {
		transform: scale(0.1, 0.1);
		color: white;
	}

	100% {
		transform: scale(1, 1);
	}
}